# --- JAVA & MAVEN ---
target/
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.properties

# --- IDEs (IntelliJ & VS Code) ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/

# --- CONFIGURACIÓN Y SECRETOS ---
.env
*.log
application-local.yml
/config/*.yml  # OPCIONAL: Si quieres que solo el Config Server use las configs locales

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db