server:
  port: ${SERVER_PORT:8761}

eureka:
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
  client:
    # Que el servidor no intente registrarse en otro servidor
    register-with-eureka: false 
    # Que no intente buscar otros servicios (él es el dueño de la lista)
    fetch-registry: false 
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

spring:
  application:
    name: ${SPRING_APPLICATION_NAME:eureka-server}
  output:
    ansi:
      enabled: ALWAYS